<a href="https://colab.research.google.com/github/hws2002/ThinkBayes2/blob/main/CH1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.2

In [5]:
import pandas as pd
gss = pd.read_csv('https://raw.githubusercontent.com/AllenDowney/ThinkBayes2/refs/heads/master/data/gss_bayes.csv', index_col = 0)
gss.head()

        year   age  sex  polviews  partyid  indus10
caseid
1       1974  21.0    1       4.0      2.0   4970.0
2       1974  41.0    1       5.0      0.0   9160.0
5       1974  58.0    2       6.0      1.0   2670.0
6       1974  30.0    1       5.0      4.0   6870.0
7       1974  48.0    1       5.0      4.0   7860.0

# 1.3 은행원의 비율
은행 및 관련 분야 코드가 6870일때, 은행원은

In [6]:
banker = (gss['indus10'] == 6870)
banker.head()

caseid
1    False
2    False
5    False
6     True
7    False
Name: indus10, dtype: bool

In [7]:
banker.mean()

0.014769730168391155

# 1.4 확률함수
앞에서 본 불리언 시리즈를 넣으면 확률을 결괏값으로 내는 코드를 만들어 보자

In [8]:
def prob(A):
  return A.mean()

In [9]:
prob(banker)

0.014769730168391155

sex 열의 값이 다음과 같이 기록되어 있을 때  
1 남성  
2 여성

이를 사용하여 여성 응답자의 경우 True로 표기하고 아닌 경우 False로 표기해보자

In [10]:
female = (gss['sex'] == 2)
female.head()

caseid
1    False
2    False
5     True
6    False
7    False
Name: sex, dtype: bool

In [11]:
prob(female)

0.5378575776019476

# 1.5 정치관과 정당

In [13]:
liberal = (gss['polviews'] <= 3)
prob(liberal)

0.27374721038750255

In [15]:
democrat = (gss['partyid'] <= 1)
prob(democrat)

0.3662609048488537

# 1.6 논리곱

In [16]:
prob( banker & democrat )

0.004686548995739501

# 1.7 조건부확률

In [29]:
# 한 응답자가 진보적이라고 했을 때, 이 응답자가 민주당원일 확률
selected = democrat[liberal]
prob(selected)

0.5206403320240125

In [30]:
prob(democrat & liberal) / prob(liberal)

0.5206403320240124

In [33]:
# 한 응답자가 은행원일 때, 이 응답자가 여성일 확률
selected = female[banker]
prob(selected)

0.7706043956043956

In [32]:
prob(banker & female ) / prob(banker)

0.7706043956043956

In [34]:
def conditional(proposition, given):
  return prob( proposition & given) / prob(given)
  return prob(  proposition[given] )

In [36]:
# 응답자가 여성일떄, 이 사람이 진보 성향일 확률
conditional(liberal, female)

0.2758100411150089

# 1.8 조건부확률은 교환 가능하지 않다

# 1.9 조건과 논리곱
응답자가 진보 성향의 민주당원일 때 여성일 확률

In [37]:
conditional(female, liberal & democrat)

0.576085409252669

# 1.10 확률 법칙

In [39]:
conditional(liberal, banker)

0.22390109890109888

In [40]:
prob(liberal) * conditional(banker, liberal) / prob(banker)

0.22390109890109888

## 1.10.4 전체 확률의 법칙

In [41]:
prob(banker)

0.014769730168391155

In [42]:
male = (gss['sex'] == 1)
prob(banker & male) + prob(banker & female)

0.014769730168391155

In [46]:
B = gss['polviews']
B.value_counts().sort_index()

polviews
1.0     1442
2.0     5808
3.0     6243
4.0    18943
5.0     7940
6.0     7319
7.0     1595
Name: count, dtype: int64

In [49]:
i = 4
prob(B==i) * conditional( banker, B==i)

0.005822682085615744

In [51]:
sum(prob(B==i) * conditional(banker, B == i) for i in range(1,8))

0.014769730168391157

In [52]:
prob(banker)

0.014769730168391155

# 1.12 연습 문제

## 문제 1-1
다음 확률을 구하여라
* 린다가 여성 은행원일 확률
* 린다가 진보 성향의 여성 은행원일 확률
* 린다가 진보 성향의 여성 은행원이며 민주당원일 확률

In [53]:
prob(female)

0.5378575776019476

In [55]:
prob(female & liberal)

0.14834652059241227

In [56]:
prob(female & liberal & banker)

0.002556299452221546

## 문제 1-2
conditional()을 사용해서 다음 확률을 구하자
* 응답자가 민주당원일 경우 진보 성향일 확률은?
* 응답자가 진보 성향일 경우 민주당원일 확률은?

In [57]:
conditional(liberal, democrat)

0.38913200022156985

In [58]:
conditional(democrat, liberal)

0.5206403320240124

## 문제 1-3
* 임의의 고른 응답자가 젊은 진보 성향일 확률은?
* 젊은 사람이 진보적일 확률은?
* 응답자가 늙고 보수 성향일 확률은?
* 보수 성향의 사람들이 늙었을 확률은?

In [59]:
young = (gss['age'] < 30)

In [60]:
old = (gss['age'] >= 65)

In [61]:
conservative = (gss['polviews'] >= 5)

In [62]:
prob(liberal & young)

0.06579427875836884

In [63]:
conditional(liberal, young)

0.338517745302714

In [64]:
prob(old & conservative)

0.06701156421180766

In [65]:
conditional(old, conservative)

0.19597721609113564